#admin_logo{position: absolute; margin: 0 45%;}
.card{ margin-top: -10px;}
.panel-body{
    background-image: url('../img/cuadro.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 90px;
    margin-bottom: 50px;
}
.input-group-addon {padding: 0px 4px; !important;}
#email,#password{ height: 44px !important;}
.nav, .navbar { margin-bottom: 0 !important;}
#fondo{
    background-image: url('../img/backgroundlogin.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto!important;
}
#girl, #lips{
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 0;
}
.card-header, .card [data-background-color="red"]
{
    background: linear-gradient(60deg, #e42a4d, #e42a4d);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2)
}
.form-control, .form-group.is-focused .form-control {
    background-image: linear-gradient(#e42a4d, #e42a4d), linear-gradient(#D2D2D2, #D2D2D2);
}
#color-place::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #fff !important;
}
#color-placen:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #fff !important;
}
#color-place::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #fff !important;
}
#color-place:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #fff !important;
}
.carousel-indicators {
    bottom: -15px;
    left: 90%;
}
.icon-redes{
    margin: 0 8%;
}
a {
    color: #e42a4d !important;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #e03d5b !important;
    text-decoration: underline;
}
.btn-primary {
    color: #ffffff !important;
    background-color: #e42a4d !important;
    border-color: #4c4c4c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff !important;
    background-color: #e03d5b !important;
    border-color: #D3D3D3 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #e42a4d !important;
    color: #fff !important;
}
@media screen and (max-width: 767px) {

    #lips{ display: none;}
}

@media screen and (max-width: 375px) {

    #lips{ display: none;}
}